<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ros.android.android_app_chooser"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <provider
            android:name="org.ros.android.robotapp.RobotsContentProvider"
            android:authorities="org.ros.android.robotapp" />

        <activity
            android:name="org.ros.android.android_app_chooser.AppChooser"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="org.ros.android.android_app_chooser.AppChooser" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.ros.android.android_app_chooser.RobotMasterChooser" />
        <activity android:name="org.ros.android.MasterChooser" />

        <service android:name="AppLauncher" />
        <service android:name="org.ros.android.NodeMainExecutorService" />
    </application>

</manifest>